<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<title>Django People</title>
</head>

<body>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-8">
        <h1 class="mt-5">Stor Title</h1>
        <hr class="mt-0 mb-4">
        <table id="vertical-1" class="table">
          <tr>
            <th>Story Type</th>
            <td>data</td>
            <td>data</td>
            <td>data</td>
          </tr>
          <tr>
            <th>Priority</th>
            <td>data</td>
            <td>data</td>
            <td>data</td>
          </tr>
          <tr>
            <th>Time Bound</th>
            <td>data</td>
            <td>data</td>
            <td>data</td>
          </tr>
          <tr>
            <th>Author</th>
            <td>data</td>
            <td>data</td>
            <td>data</td>
          </tr>
        </table>
        {% block content %}
        {% endblock %}
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-8 border border-secondary">
        <h3>Card</h3>
        <div id="card-content">
          <b>Who</b>
          <p>As a developer who uses the ABC cloud platform to build applications,</p>
          <b>What</b>
          <p>I want to fetch the information about nearby shops via an API when I send lat-lon of a location,</p>
          <b>So that</b>
          <p>So that I do not have to manually search for shops nearby a particular location when building my
            application.</p>
        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-8 border border-secondary">
        <div class="panel panel-default">
          <div class="panel-heading">Endpoint</div>
          <div class="panel-body">/v2/near/store</div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">Input</div>
          <div class="panel-body">Query String coordinate</div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">Output</div>
          <div class="panel-body">{"result":["a", "b"]}</div>
        </div>
      </div>
    </div>

  </div>
</body>

</html>